/** Fonts */
@import url("https://fonts.googleapis.com/css?family=Arimo:400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway");
/** Size Defs */
/** Color Defs */
/* General */
* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none;
  color: #e04e5e; }

img {
  text-decoration: none;
  border: none; }

html, body {
  height: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #1a1a1a;
  margin: 0;
  padding: 0; }

body {
  position: relative; }

h1, h2, h3, h4, h5 {
  font-family: "Arimo", sans-serif; }

h1 {
  font-size: 44px; }

h2 {
  font-size: 36px; }

h5 {
  font-size: 16px;
  color: #26b7d4; }

p {
  font-size: 18px; }

.btn {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

span.rv {
  unicode-bidi: bidi-override;
  direction: rtl; }

.full-width {
  width: 100%; }

.full-height {
  height: 100%; }

.upper {
  text-transform: uppercase; }

.bg-slant-gray {
  background: url("../img/bg_slant_bl_gray_2.svg") bottom left no-repeat;
  background-size: 100vw auto; }

.half-cover {
  width: 100%;
  height: 60vh;
  color: #fff; }

.grow {
  transition: all 0.1s ease-in-out; }

.grow:hover {
  transform: scale(1.05); }

/** Sizes */
i.medium {
  font-size: 32px; }

i.huge {
  font-size: 72px; }

/** Colors */
.green {
  color: #5cb85c; }

.red {
  color: #e04e5e; }

.bg-light-white {
  color: #333;
  background: #f9f9f9; }

.bg-teal {
  background: #30bda3; }

/** Responsive Switches */
@media (min-width: 576px) {
  .xs-only {
    display: none; } }
@media (min-width: 768px) {
  .sm-only {
    display: none; } }
/** Soft Breaks */
@media (min-width: 992px) {
  .lg-sbr, .lg-only-sbr {
    display: block; } }
@media (min-width: 1199px) {
  .lg-only-sbr {
    display: none; } }
@media (max-width: 429px) {
  .sp-sbr-1:before {
    content: " ";
    display: block; } }
@media (min-width: 430px) {
  .sp-sbr-1:before {
    content: "";
    display: none; } }
@media (min-width: 992px) {
  .sp-sbr-1:before {
    content: " ";
    display: block; } }
/** Flexbox */
.hbox {
  display: flex; }

.vbox {
  display: flex;
  flex-direction: column; }

.flex-fill {
  flex: 1; }

.flex-center {
  align-items: center;
  justify-content: center; }

.flex-center-center {
  align-items: center;
  justify-content: center; }

.flex-start {
  align-self: flex-start; }

.flex-end {
  align-self: flex-end; }

/** Margins and Padding */
.mt10 {
  margin-top: 10px; }

.mt20 {
  margin-top: 20px; }

.mr10 {
  margin-right: 10px; }

.mb10 {
  margin-bottom: 10px; }

.mb20 {
  margin-bottom: 20px; }

.mb30 {
  margin-bottom: 30px; }

.pt10 {
  padding-top: 10px; }

.pt20 {
  padding-top: 20px; }

.pt60 {
  padding-top: 60px; }

.pb20 {
  padding-bottom: 20px; }

.pb40 {
  padding-bottom: 40px; }

.pb80 {
  padding-bottom: 80px; }

.p5 {
  padding: 5px; }

.hp20 {
  padding-left: 20px;
  padding-right: 20px; }

.hp40 {
  padding-left: 30px;
  padding-right: 30px; }

@media (min-width: 992px) {
  .lg-pdr5 {
    padding-right: 5px; } }
@media (min-width: 992px) {
  .lg-pdr10 {
    padding-right: 10px; } }
@media (min-width: 992px) {
  .lg-pdr25 {
    padding-right: 25px; } }
@media (min-width: 992px) {
  .lg-pdl5 {
    padding-left: 5px; } }
@media (min-width: 992px) {
  .lg-pdl10 {
    padding-left: 10px; } }
@media (min-width: 992px) {
  .lg-pdl25 {
    padding-left: 25px; } }
/** Alignment */
.text-left-md-right {
  text-align: left; }

@media (min-width: 768px) {
  .text-left-md-right {
    text-align: right; } }
.text-center-md-left {
  text-align: center; }

@media (min-width: 768px) {
  .text-center-md-left {
    text-align: left; } }
.text-center-md-right {
  text-align: center; }

@media (min-width: 768px) {
  .text-center-md-right {
    text-align: right; } }
@media (min-width: 768px) {
  .text-md-center {
    text-align: center; } }
/** Visibility */
@media (max-width: 767px) {
  .hidden-sm-down {
    display: none; } }
@media (min-width: 768px) {
  .hidden-md-up {
    display: none; } }
/** Navbar */
.navbar {
  background: transparent;
  border: none; }
  .navbar a.navbar-brand {
    padding-top: 12px; }

.navbar.main {
  height: 96px;
  background: transparent url("../img/navbar_bg.png") repeat-x 0 0; }

.navbar-default .navbar-nav > li > a {
  font-family: "Arimo", sans-serif;
  font-size: 13px;
  font-weight: 700;
  margin-top: 24px;
  padding: 6px 16px;
  color: #f9f9f9;
  text-transform: uppercase; }

.navbar-default .navbar-nav > li > a:focus {
  color: #f9f9f9; }

.navbar-default .navbar-nav > li > a:hover {
  color: #ddd; }

.navbar-default .navbar-nav > li > a.btn-basic {
  font-size: 12px;
  margin-left: 20px;
  border: 1px solid #f9f9f9; }

.navbar-default .navbar-nav > li > a.btn-basic:hover {
  background: #fff;
  color: #1a1a1a; }

/** Cover */
.full-cover {
  width: 100%;
  height: calc(100vh + 20px);
  background: url("../img/bg_slant_bl_white.svg") bottom left no-repeat, url("../img/uniq_cover_03.jpg") bottom right no-repeat;
  background-size: 100vw auto, cover; }
  .full-cover .claim {
    margin-top: 10vh; }
    .full-cover .claim h1 {
      color: #fff;
      font-weight: 400;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      margin-bottom: 20vh; }
    .full-cover .claim h2 {
      font-family: "Raleway", sans-serif;
      font-size: 24px;
      color: #f9f9f9;
      cursor: pointer; }
      .full-cover .claim h2 .play-button {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #fff;
        color: #26b7d4;
        vertical-align: middle;
        text-align: center;
        padding-left: 4px;
        margin-right: 16px;
        line-height: 50px;
        opacity: 0.8;
        transition: all 0.1s ease-in-out; }
    .full-cover .claim h2:hover {
      color: #fff; }
      .full-cover .claim h2:hover .play-button {
        background: #26b7d4;
        color: #fff;
        opacity: 1; }

.modal-backdrop.in {
  opacity: 0.85; }

.modal-dialog {
  width: 100%; }

@media (min-width: 992px) {
  .modal-dialog {
    width: 80%; } }
.modal-content {
  background: none;
  border: 0;
  border-radius: 0;
  box-shadow: none; }

.modal-body {
  padding: 0 25px 25px 25px; }

.modal-header {
  padding: 25px 25px 15px 25px;
  text-align: right; }

.modal-header, .modal-footer {
  border: 0; }

.modal-header .close {
  float: none;
  margin: 0;
  font-size: 36px;
  color: #fff;
  font-weight: 300;
  text-shadow: none;
  opacity: 1; }

.what {
  background: #fff;
  background-size: 100vw auto; }

.features p {
  color: #1a1a1a;
  font-size: 15px; }
.features ul {
  color: #1a1a1a;
  font-size: 15px;
  margin-left: 8px;
  list-style: none; }
  .features ul li {
    background: url("../img/checkmark_green.svg") 0 3px no-repeat;
    padding-left: 24px; }

#alertRow {
  display: none; }

.help-block {
  padding-left: 5px;
  font-size: 12px; }

.testimonials {
  padding-top: 72px;
  padding-bottom: 48px;
  background: url("/assets/img/bg_slant_white_2.svg") top left no-repeat, url("/assets/img/bg_slant_white_3.svg") bottom left no-repeat, url("/assets/img/uniq_cover_20.jpg") no-repeat center center;
  background-size: 100vw auto, 100vw auto, cover;
  color: #fff; }
  .testimonials h2 {
    margin-top: 12px; }

.how h3 {
  margin-top: 32px;
  color: #1a1a1a;
  font-family: "Raleway", sans-serif;
  font-size: 18px; }
.how h3.last {
  margin-top: 4px; }
.how p {
  color: #808080;
  font-size: 16px; }

@media (min-width: 768px) {
  .connector-padding {
    padding-left: 48px;
    padding-right: 42px; } }
@media (min-width: 992px) {
  .connector-padding {
    padding-left: 78px;
    padding-right: 78px; } }
@media (min-width: 1200px) {
  .connector-padding {
    padding-left: 110px;
    padding-right: 110px; } }
.faq {
  padding-top: 40px;
  padding-bottom: 60px;
  background: url("/assets/img/bg_slant_white_4.svg") top left no-repeat, url("/assets/img/bg_slant_white_3.svg") bottom left no-repeat, url("/assets/img/uniq_cover_10_d.jpg") no-repeat center center;
  background-size: 100vw auto, 100vw auto, cover;
  color: #fff; }
  .faq p {
    color: #f9f9f9;
    font-size: 15px; }
  .faq a {
    font-size: 18px;
    color: #26b7d4; }
  .faq a:hover {
    color: #fff; }

.good-to-know {
  background: url("../img/bg_slant_bl_gray_2.svg") bottom left no-repeat;
  background-size: 100vw auto; }
  .good-to-know .card h3 {
    font-size: 28px;
    font-weight: 700;
    color: #e04e5e; }
  .good-to-know .card p {
    font-size: 16px; }
  .good-to-know .card img {
    margin-top: 10px; }
  .good-to-know .card .front {
    padding: 48px;
    border: 1px solid #ddd; }
  .good-to-know .card .back {
    padding: 32px;
    border: 1px solid #808080; }

.faq-entry h4 {
  margin-top: 20px;
  color: #26b7d4;
  cursor: pointer; }
.faq-entry p {
  font-size: 15px; }

.team-member p {
  font-size: 14px; }

.coaching-cover {
  width: 100%;
  height: calc(100vh + 20px);
  background: url("../img/bg_slant_bl_white.svg") bottom left no-repeat, url("../img/uniq_cover_04.jpg") center center;
  background-size: 100vw auto, cover; }

.application-box, .application {
  background: rgba(255, 255, 255, 0.9);
  padding: 8px 16px;
  border-radius: 4px; }
  .application-box h2, .application h2 {
    font-size: 28px;
    margin: 16px 0 24px 0; }
  .application-box h4, .application h4 {
    color: #26b7d4;
    margin-top: 20px; }
  .application-box label, .application label {
    font-size: 14px;
    font-weight: 300; }
  .application-box .form-group button, .application .form-group button {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: none;
    color: #333; }
  .application-box .dropdown-menu > li > a, .application .dropdown-menu > li > a {
    font-size: 14px;
    color: #333; }

.coaching-what .benefit p {
  font-size: 15px; }
.coaching-what .disclaimer {
  font-size: 14px;
  color: #808080; }

.coaching-testimonials {
  padding-top: 72px;
  padding-bottom: 48px;
  background: url("/assets/img/bg_slant_white_4.svg") top left no-repeat, url("/assets/img/bg_slant_bl_white.svg") bottom left no-repeat, url("/assets/img/uniq_cover_22.jpg") no-repeat center center;
  background-size: 100vw auto, 100vw auto, cover;
  color: #fff; }
  .coaching-testimonials p {
    padding-bottom: 48px; }

.coaching-prerequisites {
  background: url("../img/bg_slant_br_gray_2.svg") bottom left no-repeat;
  background-size: 100vw auto, 100vw auto; }
  .coaching-prerequisites ul {
    color: #1a1a1a;
    font-size: 16px;
    margin: 16px 0 0 8px;
    list-style: none; }
    .coaching-prerequisites ul li {
      background: url("../img/checkmark_green.svg") 0 3px no-repeat;
      padding-left: 24px; }

.cta {
  background: #f9f9f9;
  border-bottom: 1px solid #e8e8e8; }
  .cta h3 {
    margin-top: 2px; }

footer {
  background: #f9f9f9; }
  footer .lang {
    font-family: "Arimo", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #26b7d4;
    padding-left: 5px; }
  footer .copyright {
    float: right;
    padding-top: 6px;
    padding-left: 8px;
    font-size: 12px;
    font-weight: 300;
    color: #ddd; }
  footer h4 {
    margin: 18px 0 8px 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #333; }
  footer a {
    margin: 3px 0;
    font-size: 14px;
    display: block;
    color: #808080; }
  footer .dropup {
    margin-top: 4px; }
  footer #lang-dd {
    cursor: pointer; }
  footer #lang-dd:hover {
    opacity: 0.85; }
  footer .dropdown-menu > li > a {
    font-size: 15px;
    font-weight: 300; }
  footer .dropdown-menu > li > a.active {
    font-weight: 400;
    padding: 4px 0 10px 40px;
    background: url("../img/icon_checkmark_blue.png") no-repeat 12px 3px;
    background-size: 24px 24px;
    color: #26b7d4; }

@media (min-width: 768px) {
  footer .copyright {
    display: block;
    float: none;
    margin-top: 61px; }
  footer h4 {
    margin: 8px 0 18px 0; }
  footer a {
    margin: 6px 0; } }

/*# sourceMappingURL=main.css.map */
